.grand_titre{
    text-align: center;
}

.img{
    border-radius: 300px;
    border: 2px black solid;
    position: absolute;
    left: 400px;
}

@keyframes nul {
    25%{
        background-color: #C5E0F1;
    }
    50%{
        background-color: #91BDDA;
    }
    75%{
        background-color:#649BBF;
    }
    100%{
        background-color: white;
    }
}

body{
    animation-duration: 10s;
    animation-name: nul;
    
    animation-iteration-count: infinite;
}
.img2{
    width: 250px;
    height: 125px;
    position: absolute;
    top: 200px;
}
.hastage_ad{
    position: absolute;
    bottom: 50px;
    left: 1100px;
}
.name{
    position: absolute;
    bottom: 25px;
    left: 1100px;
}
.H3{
    position: absolute;

    top: 125px;
}